<head><!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Makers BnB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add_listings">Add Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listings">Listings</a>
      </li>
    </ul>
  </div>
</nav>

<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://st3.idealista.com/cms/archivos/2019-10/media/image/705800504.jpg?fv=pvYRug0x');
      background-size: cover;
      height: 685px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome to Makers BnB!</h1>
          <h4 class="mb-3">Your next destination awaits you</h4>
          <a class="btn btn-outline-light btn-lg" href="/signup" role="button"
            >Sign up!</a
          >
        </div>
      </div>
    </div>
  </div>

</body>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: white">
    © 2020 Copyright:
    <a class="text-dark" href="/">Makers BnB</a>
  </div>
</footer>
